<%-include("partials/header")-%>
<!-- as it is not a =durectly under the  views folder -->
<div class="me">
    <h1>Home</h1>
    <p><%=paragraph%></p>
    
      <!-- using for each -->
      <% lists.forEach(function(post){%>
        <h1><%=post.title%></h1>
        <p><%=post.body.substring(0,100)+"..." %><a href="/posts/<%=post.title %>">Read more</a></p>    
      <%});%>
</div>
 <%-include("partials/footer")-%>
</posts.length;i++){%>
